    {% extends 'base.html' %}
    {%block title%}Greeter V2 {% endblock %}
    {% block page_name %}Complimentary Candy<br>{% endblock%}
    {% block content%}
    <h2>Greetings {{username}}</h2>
    {% if wants=="on" %}
    <table>
        <tr>
            <td>
                <iframe src="https://giphy.com/embed/hvp4lPi0AwksT3468k" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mmsuk-hvp4lPi0AwksT3468k">via GIPHY</a></p>
        
            </td>
            <td>
                <div class="compliment">You are&nbsp;</div>
                {% for compliment in compliments%}
                <li>{{compliment}}</li>
                {% endfor %}
            </td>
        </tr>
        
        <ul>
            
        </ul>
    </table>    
    {% endif %}
    {% endblock %}
